/* Resete geral css */

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    outline: none;
}

html,body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color:#03152e;
    height: 100vh;
}